@tailwind base;
@tailwind components;
@tailwind utilities;

.pink-gradient {
  background: rgb(241, 53, 134);
  background: linear-gradient(
    90deg,
    rgb(94, 218, 255) 87%,
    rgba(255, 255, 255, 1) 100%
  );
}

.blue-gradient {
  background: rgb(241, 53, 134);
  background: linear-gradient(90deg, #3538f1 87%, rgba(255, 255, 255, 1) 100%);
}
